{% extends 'math_app/base.html' %}

{% block title %}
    Вход
{% endblock %}

{% block namepage %}
{% endblock %}

{% block content1 %}

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Зарегистрируйтесь!</h1>
                            </div>



                            <form class="user" method="post">
                                {% csrf_token %}
                                {{form.as_p}}
                                <button type="submit"  >Регистрация</button>


                                <hr>
                            </form>




                            <hr>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}