<!-- Begin Page Content -->
{% extends 'math_app/base.html' %}

{% block title %}
    {{nametable}}
{% endblock %}

{% block namepage %}

{% endblock %}

{% block content1 %}
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <!--h1 class="h3 mb-2 text-gray-800">Таблица</h1-->

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">{{nametable}}</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Имя</th>
                                            <th>Почта</th>
                                            <th>Класс</th>
                                            <th>Студент</th>
                                            <th>Уроков</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Имя</th>
                                            <th>Почта</th>
                                            <th>Класс</th>
                                            <th>Студент</th>
                                            <th>Уроков</th>
                                        </tr>
                                    </tfoot>

                                    <tbody>
                                        {%  for item in users %}

                                            <tr>
                                                <td>
                                                    <!--{{item}}--{{ item.get_absolute_url }}<br-->
                                                        {{item.last_name}} &nbsp {{item.first_name}}
                                                </td>

                                                <td>
                                                    {{item.email}}
                                                </td>

                                                <td>
                                                    {{item.num_class}}{{item.letter_class}}
                                                </td>

                                                <td>
                                                    {% if item.is_student %}
                                                        Да
                                                    {% else %}
                                                        Нет
                                                    {%endif%}
                                                </td>
                                                <td>
                                                    {{ item.get_count_lessons }}
                                                </td>

                                            </tr>
                                        {% endfor %}

                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>

                </div>
{% endblock %}