<!-- Begin Page Content -->
{% extends 'math_app/base.html' %}

{% block title %}
    {{title}}
{% endblock %}

{% block namepage %}
{% endblock %}

{% block button %}

{% endblock %}


{% block content1 %}
    <form action="{% url 'userapp:test' %}" method="post">
        {% csrf_token %}
    <table>
        {{ formset.management_form }}
        {% for form in formset %}
        <tr>
            <td>
                {{ form.stud }}
            </td>
            <td>
                {{ form.sel }}
            </td>
        </tr>

        {% endfor %}

    </table>
        <input type="submit" value="Отправить">
    </form>
  <!--form action="." method="post">
      {% csrf_token %}
      {{ formset }}
      <input type="submit" value="Отправить">
  </form-->
{% endblock %}