{% extends 'math_app/base.html' %}

{% block title %}
    {{title}}
{% endblock %}

{% block namepage %}
    {{namepage}}
{% endblock %}

{% block img1 %}

{% endblock %}


{% block content1 %}

    <div class="container-fluid">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">{{nametable}}</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Ответ</th>
                                <th>Результат</th>
                                <th>Задача</th>
                                <th>выполнить</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Ответ</th>
                                <th>Результат</th>
                                <th>Задача</th>
                                <th>выполнить</th>
                            </tr>
                        </tfoot>

                        <tbody>
                            {%  for item in lessons %}

                                <tr>
                                    <td>
                                           {{item.answer}} &nbsp {{item.name}}
                                    </td>
                                    <td>
                                        {{item.correctly}}
                                    </td>
                                    <td>
                                        {{item.task}}
                                    </td>

                                </tr>
                            {% endfor %}
                        </tbody>

                    </table>
                </div>
            </div>
        </div>

    </div>


{% endblock %}