{% extends 'math_app/base.html' %}

{% block title %}
    {{title}}
{% endblock %}

{% block namepage %}
    {{title}}
{% endblock %}

{% block content1 %}
    <form   method="post"  enctype="multipart/form-data"  >
        {% csrf_token %}
  <table width="100%" cellspacing="0" cellpadding="5">
   <tr>
    <td width="100" valign="top">
        <div class="container-fluid">
            <div class="card shadow mb-4">
                <div class="card-body">
                    <label for="{{form.numtask.id_for_label}}">{{form.numtask.label}}</label>
                    {{form.numtask}}
                    <br>
                    <label for="{{form.variant.id_for_label}}">{{form.variant.label}}</label>
                    {{form.variant}}
                    <br>
                    <label for="{{form.level.id_for_level}}">{{form.level.label}}</label>
                    {{form.level}}
                    <br>
                    <label for="{{form.numclass.id_for_level}}">{{form.numclass.label}}</label>
                    {{form.numclass}}
                    <br>
                    <label for="{{form.theme.id_for_level}}">{{form.theme.label}}</label>
                    {{form.theme}}
                    <br>
                    <div >
                        <label for="{{form.comment.id_for_level}}">{{form.comment.label}}</label>
                    </div>
                    {{form.comment}}
                </div>
            </div>
        </div>
    </td>
    <td valign="top">
        <div class="card shadow mb-4">
        <div class="card-body">
            <div>
            <label for="{{form.question.id_for_label}}">{{form.question.label}}</label>
            </div>
            <div>
                {{form.question}}
            </div>
            <div class="card-body">
                {{form.img}}
            </div>
        </div>
        </div>
    </td>
   </tr>

   <tr>
      <!--td></td-->
      <td>

      </td>
      <td>
              <div>
              <button type="submit">Добавить</button>
              </div>
      </td>
   </tr>

  </table>

    </form>

{% endblock %}