{% extends 'math_app/base.html' %}

{% block title %}
    {{title}}
{% endblock %}

{% block namepage %}
    {{title}}
{% endblock %}

{% block content1 %}
    <form   method="post"  enctype="multipart/form-data"  >
        {% csrf_token %}
  <table width="100%" cellspacing="0" cellpadding="5">
   <tr>
    <td width="100" valign="top">
        <div class="container-fluid">
            <div class="card shadow mb-4">
                <div class="card-body">
                    <label for="{{form.num.id_for_label}}">{{form.num.label}}</label>
                    {{form.num}}
                    <br>
                    <label for="{{form.name.id_for_label}}">{{form.name.label}}</label>
                    {{form.name}}
                    <br>
                    <label for="{{form.numclass.id_for_level}}">{{form.numclass.label}}</label>
                    {{form.numclass}}
                    <br>
                    <label for="{{form.set_time.id_for_level}}">{{form.set_time.label}}</label>
                    {{form.set_time}}
                    <br>
                    <div >
                        <label for="{{form.comment.id_for_level}}">{{form.comment.label}}</label>
                    </div>
                    {{form.comment}}
                </div>
            </div>
        </div>
    </td>
    </tr>

   <tr>
      <td>
              <div>
              <button type="submit">Добавить</button>
              </div>
      </td>
      <td> </td>
   </tr>

  </table>

    </form>

{% endblock %}