<!-- Begin Page Content -->
{% extends 'math_app/base.html' %}

{% load lesson_tags  %}

{% block title %}
    {{title}}&nbsp{{application}}
    {%  set_task_lesson as lesson %}
{% endblock %}

{% block namepage %}
{% endblock %}

{% block button %}
    <a href="{% url 'mathapp:task_new' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
        <i class="fas fa-plus-circle  text-white-50"></i>
        Добавить
    </a>

{% endblock %}


{% block content1 %}
    <div class="container-fluid">

        <!-- Page Heading -->
        <!--h1 class="h3 mb-2 text-gray-800">Таблица</h1-->

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">{{nametable}}</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Тема<br>Номер<br>Вариант</th>
                                <th>Условие</th>
                                <th>Чертёж</th>
                                <th>Варианты &nbsp решений</th>
                                <th>Выполнение</th>
                                <!--th>Тест</th-->
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Номер</th>
                                <th>Условие</th>
                                <th>Чертёж</th>
                                <th>Варианты &nbsp решений</th>
                                <th>Выполнение</th>
                            </tr>
                        </tfoot>

                        <tbody>
                            {%  for item in tasks %}
                                <tr>
                                    <td>  <!-- номер -->
                                        <a class="collapse-item" href="{{ item.task.get_absolute_url }}">
                                            <!-- тема.номер.вариант -->
                                            {{item.themenum}}.{{item.task.numtask}}.{{item.task.variant}}
                                        </a>
                                    </td>
                                    <td>  <!-- задача -->
                                        {{item.task.question}}
                                    </td>
                                    <td>   <!-- Чертеж -->
                                        {% if item.task.img %}
                                            <img src="{{item.task.img.url}}" width="100" height="100">
                                        {% endif %}
                                    </td>
                                    <!-- Варианты ответов на условие задачи -->
                                    <td>
                                        <div>
                                            <a class="collapse-item" href="{% url 'mathapp:version_new' task_id=item.taskid %}">
                                                <i class="fas fa-plus-circle"></i> Добавить
                                            </a>
                                        </div>
                                        <lo>
                                             {%  for v in item.vers %}
                                                    <li>
                                                        <a class="collapse-item" href="{{ v.get_absolute_url }}">
                                                        {% autoescape off %}
                                                            {{v.answer}}
                                                        {% endautoescape %}
                                                        </a>
                                                    </li>


                                            {% endfor %}

                                        </lo>
                                    </td>
                                    <!-- Назначить задачу -->
                                    <td>
                                            <a href="{% url 'userapp:select_user' %}" class="collapse-item">
                                                <div class="flex-nowrap ">
                                                <i class="fas fas fa-share-alt"></i>
                                                    Назначить
                                                </div>
                                            </a>
                                    </td>
                                    <!--td>
                                        <a href="{% url 'userapp:test' %}" class="collapse-item">
                                                <div class="flex-nowrap ">
                                                <i class="fas fas fa-share-alt"></i>
                                                    Тест
                                                </div>
                                            </a>
                                    </td-->
                                </tr>
                            {% endfor %}
                        </tbody>

                    </table>
                </div>
            </div>
        </div>

    </div>
{% endblock %}