<!DOCTYPE html>
<html lang="en">
<head>
{% extends 'math_app/base.html' %}

{% block title %}
    {{title}}
{% endblock %}

{% block namepage %}
{% endblock %}

{% block goto %}
{% endblock %}

{% block button %}
{% endblock %}

{% block content1 %}
    <div class="container-fluid">
            <div class="card shadow mb-4">
        {{variant.question}}
    </div>
        </div>

    <form method="post" action="{%  url 'mathapp:create_lesson' variant_id=variant.id theme_id=themeid task_id=taskid %}">
        {% csrf_token %}
        <div>
            Студенты
            {% for item in form %}
              {{ item }}
            {% endfor %}
        </div>
        <br>
        <div>
        <button type="submit">
            Сохранить
        </button>
        </div>
    </form>
{% endblock %}